################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/ObligatorioP2/ObligatorioP2/obj/Debug/net8.0/ObligatorioP2.genruntimeconfig.cache
