@{
    ViewData["Title"] = "Home Page";
}

<body class="bg-secondary bg-opacity-75">
    <div class="text-center">
        @if (Context.Session.GetString("email") == null)
        {
            <h1 class="display-4">Bienvenido Usuario Anónimo</h1>
            <img src="images/usuarioAnonimo.jpeg" alt="Anonimo" class="img-fluid rounded-circle mt-5" style="max-width: 350px;"/>
        }
        else
        {
            <h1 class="display-4">Bienvenido Usuario @Context.Session.GetString("email")</h1>
        }
    </div>
</body>
